.conteneur {
  text-align: center;
}

.word {
  margin: 3rem;
  font-size: 2rem;
  color: #bbe1fa;
  letter-spacing: 1rem;
}

#root, body, .conteneur, #conteneurBody {
  background-color: #1b262c;
  color: #bbe1fa;
}